
/* General */

/*h1, h2, h3, h4, li {
  color: #000;
  text-align: center;
}*/

/*h1 {
  margin: 15px 0;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em;
}*/

ul {
  list-style: none
}

html {
  background-color: #000000;
  color: #F7F4F3;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
}



/* nav bar*/

.wrapper {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  overflow-x: hidden; 

}

.topBar {
  width: 100%;
  background-color: rgba(0, 0, 0, .9);
  position: fixed;
  color: #000000;
  text-decoration: none;
  z-index: 1000;
}



.mainNav {
  margin: none;
  float: right;
}

/*  .mainNav ul {
    list-style-type: none;
    margin: 0 10px;
  
  }*/

  .mainNav li {
    display: inline-block;
    padding: 10px 0px;
  }

  .mainNav a {
    color: #F7F4F3;
    text-decoration: none;
    padding: 10px 25px;
  }

  .mainNav a:hover {
    color: #2DE1FC;
  }

#logo {
  width: 70px;
  height: 70px;
  background-image: url('chronicle_logo_vector.svg');
}

/*  #logo:hover {
    background-image: url('books.svg');
  }*/

/* search bar */
.search-bar {
  float:center;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  margin-bottom: 0;
  border-radius: 0;
  width: 100%;
}

a {
  text-decoration: none;
}

/* Header */

.wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
  background: white;
}

/* Chronicles */
.item {
  width:400px;
  height:240px;
  padding:2px;
}

.articleContainer {
  position: relative;
  width: 100%; /* for IE 6 */
}

.articleInfo {
  position: absolute;;
  bottom: 10%;
  left: 0;
  width: 100%;
  text-align: center;
  color: white;
  background-color: rgba(0,0,0,0.9);
}

a.articleLink {
  color:white;
}

.spacepic{
    height: 400px;
    background-image: url("homeBackground.png");
    background-position: center center;
    background-size: 100% 100%;
    width: 100%;
    padding-top: 10px;
}

/**************************************
FOOTER
**************************************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear:both;
  padding-top: 50px;
  color: #ccc;
}

.social-icon {
  list-style-type: none;
  margin: 0;
  padding: 10px 0;
}

.social-icon li a {
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  color: black;
}


/**************************************
responsive
**************************************/
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;}
}
