
/* General */
.trending-chronicles {
  display: inline-block;
}

body {
  font-family: 'Raleway', sans-serif;
  padding-top: 50px

}

h1, h2, h3, h4, li {
  font-family: 'Raleway', sans-serif;
  color: #0B3954;
  text-align: center;
}

form {
  vertical-align: center;
}

link {
  color: #0B3954;
}

ul {
  list-style: none
}

/* Header */

h1 {

  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em;
}

/* nav bar*/



/*.row {
  margin:auto;
  display: inline-block;
  margin-bottom: 0;
  border-radius: 0;
  width: 100%;
  background: #0B3954;
  border-color: #708090;
}*/
/*


nav li {
  display: inline-block;
}

nav img {
  background-color: white;
  border-radius: 10px;
  border-top: 10px;
}

nav a{
  font-weight: 800;
  letter-spacing: 0.1em;
  padding: 0px 10px;
}

nav a, nav a:visited {
  color: #F7F4F3;
}

nav a.selected, nav a:hover {
  color: #2DE1FC;
}*/

/*.page-wrapper {
  margin-top: 120px;
}*/

#logo-nav {
  text-decoration: none;
  color: #D8D0D4;
  display: inline-block;
  padding: 10px 25px;
}

#logo {
  width: 45px;
  height: 45px;
  background-image: url('chronicle_logo_vector_light.svg');
  background-repeat: no-repeat;
}

  #logo:hover {
    background-image: url('chronicle_logo_vector_blue.svg');
    background-repeat: no-repeat;
  }

/* search bar */
/*.search-bar {
  margin-top: -50px;
  float:center;
  position: inline-block;
}*/

#additionalSearchParams {
  color: white;
  padding-top: 10px
}

a {
  text-decoration: none;
}

.login {
  position: block;
  text-align: center;
}

.center {
  position: block;
  text-align: center;
}

/*.wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
  background: white;
}*/


/* Chronicles */


.center-chron {
  position: block;
  text-align: center;
}
.votes {
  position: inline-block;
  float: left;
  font-size: 20px;
}

.comment_votes {
  position: inline-block;
  float: left;
  font-size: 20px;
}


.item {
  width:auto;
  height:auto;
}

.articleContainer {
  position: relative;
  width: 100%; /* for IE 6 */
}

.articleInfo {
  position: absolute;;
  bottom: 10%;
  left: 0;
  width: 100%;
  text-align: center;
  color: white;
  background-color: rgba(0,0,0,0.9);
}

a.articleLink {
  color:white;
}

.welcome{
    height: 600px;
    background-image: url("homeBackground.png");
    background-position: 0 25%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.deepshadow {
    font-size: 3.5em;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    color: #e0dfdc;
    letter-spacing: .1em;
    text-shadow:
      0 -1px 0 #fff,
      0 1px 0 #2e2e2e,
      0 2px 0 #2c2c2c,
      0 3px 0 #2a2a2a,
      0 4px 0 #282828,
      0 5px 0 #262626,
      0 6px 0 #242424,
      0 7px 0 #222,
      0 8px 0 #202020,
      0 9px 0 #1e1e1e,
      0 10px 0 #1c1c1c,
      0 11px 0 #1a1a1a,
      0 12px 0 #181818
  }

.welcome-description{
  color: #e0dfdc;
  width: 50%;
  transform: translate(50%);
}

.chronicle-display{
  display: inline-block;
}

/**************************************
FOOTER
**************************************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear:both;
  padding-top: 50px;
  color: #ccc;
}

.social-icon {
  list-style-type: none;
  margin: 0;
  padding: 10px 0;
}

.social-icon li a {
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  color: black;
}


/**************************************
responsive
**************************************/
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;}
}
