
/* General */
.trending-chronicles {
  display: inline-block;
}

h1, h2, h3, h4, li {
  color: #000;
  text-align: center;
}

ul {
  list-style: none
}

/* Header */

h1 {
  font-family: 'Changa One', sans-serif;
  margin: 15px 0;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em;
}

/* nav bar*/

.row {
  margin:auto;
  display: inline-block;
  margin-bottom: 0;
  border-radius: 0;
  width: 100%;
  background: #0B3954;
  border-color: #708090;
}

nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
  background: #0B3954;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav img {
  background-color: white;
  border-radius: 10px;
  border-top: 10px;
}


nav a{
  font-weight: 800;
  padding: 15px 10px;
}

nav a, nav a:visited {
  color: #fff;
}

nav a.selected, nav a:hover {
  color: #000080;
}

/* search bar */
.search-bar {
  float:center;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  margin-bottom: 0;
  border-radius: 0;
  width: 100%;
}

a {
  text-decoration: none;
}

body  {
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
  background: white;
}

/* Chronicles */
.item {
  width:400px;
  height:240px;
  padding:2px;
}

.articleContainer {
  position: relative;
  width: 100%; /* for IE 6 */
}

.articleInfo {
  position: absolute;;
  bottom: 10%;
  left: 0;
  width: 100%;
  text-align: center;
  color: white;
  background-color: rgba(0,0,0,0.9);
}

a.articleLink {
  color:white;
}

.spacepic{
    height: 400px;
    background-image: url("homeBackground.png");
    background-position: center center;
    background-size: 100% 100%;
    width: 100%;
    padding-top: 10px;
}

/**************************************
FOOTER
**************************************/

footer {
  font-size: 0.75em;
  text-align: center;
  clear:both;
  padding-top: 50px;
  color: #ccc;
}

.social-icon {
  list-style-type: none;
  margin: 0;
  padding: 10px 0;
}

.social-icon li a {
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  color: black;
}


/**************************************
responsive
**************************************/
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;}
}
