
<h1> Welcome to Chronicle</h1>

<h1> Chronicle: get the whole story(can change catchphrase if you want)</h1>
<% unless current_account %>
  <%= render "login"%>
<% end %>

<h3> Today's Trending Chronicles(add sideways scroll)</h3>
<%= render "shared/chronicle_index" %>
