
<div class="welcome row">
  <h1 class="deepshadow"> Welcome to Chronicle</h1>
  <h4 class="welcome-description"> When it comes to news, context is everything. Chronicle helps get the whole story. Create "chronicles" by grouping articles together by a common theme or storyline. Use this app to create your own public or private chronicles and follow other users' public chronicles to get the full scoop on everything!</h4>
  <div class="login welcome-description">
    <% unless current_account %>
      <%= render "login"%>
    <% end %>
  </div>
</div>
<h3> Today's Trending Chronicles</h3>
<%= render "shared/chronicle_index" %>
