<h1> Welcome to Chronicle</h1>
<h2>login page</h2>


<% unless current_account %>
  <%= render "login"%>
<% end %>

<h1> Today's Trending Chronicle</h1>
<div>
  <h3>placeholder for trending chronicle</h3>
</div>
