<h1>Welcome <%= @account.name %></h1>
<h1>Your Chronicles</h1>
<h2>  show all chronicles </h2>
<%= link_to "chronicles index" %>
<h1>show page</h1>

<h6> chronicles where admin_id == admin_id of current_account </h6>
